root = true

[*]
insert_final_newline = true

[*.java]
indent_style = space
indent_size = 4

[*.gradle]
max_line_length = 120
ij_groovy_binary_operation_wrap = normal

[*.tsv]
indent_style = tab
trim_trailing_whitespace = false

[*.java]
indent_style = tab
trim_trailing_whitespace = false
